<div id="<%= dom_id inivitation %>">
  <div>
    <strong>Account:</strong>
    <%= inivitation.account_id %>
  </div>

  <div>
    <strong>Token:</strong>
    <%= inivitation.token %>
  </div>

  <div>
    <strong>Message:</strong>
    <%= inivitation.message %>
  </div>

  <div>
    <strong>Receiver:</strong>
    <%= inivitation.receiver %>
  </div>

  <div>
    <strong>Sender:</strong>
    <%= inivitation.sender_id %>
  </div>

</div>
