<div class="d-flex flex-column gap-4 justify-content-center align-items-center vh-100">
  <h1>StarterKit</h1>
  <div class="card w-100" style="max-width: 600px;">
    <div class="card-header">
      <h2>Sign up to StarterKit</h2>
    </div>

    <div class="card-body">
      <%= form_with model: @user, url: users_path do |form| %>
        <div class="mb-3">
          <%= form.label :username, class: "form-label required" %>
          <%= form.text_field :username, class: "form-control" %>
        </div>

        <div class="row gap-2 mb-3">
          <div class="col">
            <%= form.label :first_name, class: "form-label required" %>
            <%= form.text_field :first_name, class: "form-control" %>
          </div>
          <div class="col">
            <%= form.label :last_name, class: "form-label required" %>
            <%= form.text_field :last_name, class: "form-control" %>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :email_address, class: "form-label required" %>
          <%= form.email_field :email_address, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :password, class: "form-label required" %>
          <%= form.password_field :password, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :password_confirmation, class: "form-label required" %>
          <%= form.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div><%= form.submit "Create Account", class: "btn btn-primary" %></div>
      <% end %>
      <div class="card-footer d-flex justify-content-between mt-3">
        <%= link_to "Already have an account? Sign in", new_session_path %>
      </div>
    </div>
  </div>
</div>
