<%= form_with model: @user, url: users_path do |form| %>
  <div><%= form.label :username %><%= form.text_field :username %></div>

  <div><%= form.label :first_name %><%= form.text_field :first_name %></div>

  <div><%= form.label :last_name %><%= form.text_field :last_name %></div>

  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address %>
  </div>

  <div><%= form.label :password %><%= form.password_field :password %></div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div><%= form.submit "Create Account" %></div>
<% end %>
