<div id="<%= dom_id invitation %>">
  <div><strong>Account:</strong><%= invitation.account_id %></div>

  <div><strong>Token:</strong><%= invitation.token %></div>

  <div><strong>Message:</strong><%= invitation.message %></div>

  <div><strong>Receiver:</strong><%= invitation.receiver %></div>

  <div><strong>Sender:</strong><%= invitation.sender_id %></div>
</div>
