<div id="<%= dom_id invitation %>" class="d-flex flex-column gap-4 w-100">
  <div class="d-flex flex-row w-100">
    <span class="form-label col-2 align-self-center my-auto">Account:</span>
    <input class="form-control" value="<%= invitation.account.name %>" disabled>
  </div>

  <div class="d-flex flex-row">
    <span class="col-2 align-self-center my-auto">Sender:</span>

    <span class="form-control">
      <%= invitation.sender.username %>

      <span class="text-muted fs-5">
        (<%= invitation.sender.email_address %>)
      </span>
    </span>
  </div>

  <div class="d-flex flex-row">
    <span class="col-2 align-self-center my-auto">Receiver:</span>

    <span class="form-control"><%= invitation.receiver %></span>
  </div>

  <div>
    <strong>Message:</strong>
    <div class="card p-3 rounded mt-2"><%= invitation.message %></div>
  </div>
</div>
