<p style="color: green"><%= notice %></p>

<%= render @invitation %>

<div>
  <%= link_to "Edit this invitation", edit_account_invitation_path(@account, @invitation) %>
  |
  <%= link_to "Back to invitations", account_invitations_path %>
  <%= button_to "Destroy this invitation", account_invitation_path(@account, @invitation), method: :delete %>
</div>
