<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @member.username %></td>
      <td><%= @member.first_name %></td>
      <td><%= @member.last_name %></td>
      <td><%= @member.email_address %></td>
      <td><%= account_user(@account, @member).role.titleize %></td>
      <% if @current_account_user.owner_role? || @current_account_user.admin_role? %>
        <% unless @member == Current.user %>
          <td>
            <%= button_to "Remove User", account_member_path(@account, @member), method: :delete %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
