<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:
      </h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column gap-4">
    <div>
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :slug, class: "form-label" %>
      <%= form.text_field :slug, class: "form-control" %>
    </div>

    <div>
      <%= form.label :owner_id, class: "form-label" %>
      <%= form.text_field :owner_id, class: "form-control" %>
    </div>

    <div><%= form.submit class: "btn btn-primary" %></div>
  </div>
<% end %>
